{% extends 'app/base.html' %}
{% load static %}

{% block linkcss%}
<link rel="stylesheet" href="{% static 'app/css/Icon.css' %}" type="text/css">
{% endblock %}

{% block main-content%}

    <div id="container">
        <div class="container1">
            <header>
                <h1 class="headline">Icons</h1>
                <h2 class="headline2">Explore our selected icons packs.
                </h2>
            </header>
            
            <div class="product">
                <div class = "product-list">
                    {%for collection in collections%}
                        <div class = "product-item">
                            <a href ="{%url 'collection'%}?id={{collection.ID}}" class="linkproduct"> 
                                <div class="bgproduct">
                                    <img src="{% static 'app/images/body/bg_box.svg' %}">
                                    <div class="imageproduct">
                                        <img src="{{collection.Image.url}}">
                                    </div>
                                    <h3 class="nameproduct">{{collection.Name}}</h3>
                                </div>
                            </a>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>     
    </div>

{%endblock%}